/* Estilizaçao de Paginaçao */

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}


#search-container form{
    width: 50%;
    float: right;
    display: -webkit-inline-box;
}

#search-container button{
    margin-left: -112px;
}